.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: cornsilk;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    word-spacing: 20px;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}