/* *{
    margin: 0px;
    padding: 0px;

} */

#head3{
    color: wheat; 
    background-color: hotpink; 
    text-align: center; 
    word-spacing: 15px; 
    letter-spacing: 50px; 
    font-size: 50px;
    font-family: monospace;
}
#head2{
    background-color: rgb(26, 208, 60);
    color: white;
    text-align: right;
    word-spacing: 10px;
    letter-spacing: 10px;
    
}

.container{
    background-color: turquoise;
    padding: 30px;
    border-radius: 20px;
}

.container1{
    background-color: rgb(26, 219, 116);
    padding: 30px;
    margin-top: 20px;
    border-left: 20px dashed white;
    border-right: 20px dashed white;
}
