.head{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: xxx-large;
}
.head2{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: xxx-large;
}
.head1{
    font-family: "Barriecito", system-ui;
    text-align: right;
    font-size: xxx-large;
}